<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879961812517-1fk375u6f2mofosj9rms2db48dp1kesp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879961812517-1fk375u6f2mofosj9rms2db48dp1kesp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879961812517-brejp6pn9tt5cbqmg72u2a9604kivrhv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBknWGnrbKYYfA-FkdMYeWSIwyvMElPtJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>879961812517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subverse.stop</string>
	<key>PROJECT_ID</key>
	<string>socialverse-1</string>
	<key>STORAGE_BUCKET</key>
	<string>socialverse-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879961812517:ios:53089cde272bfbf8f0d9cc</string>
</dict>
</plist>